.Button {
    background-color: transparent;
    border: none;
    border: 1px solid black;
    // border-width: thin;
    border-radius: 4px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

    &:disabled {
        color: #ccc;
        cursor: not-allowed;
    }
    
    // &:first-of-type {
    //     margin-left: 0;
    //     padding-left: 0;
    // }
}
.Default {
    color: black;
    border: 1px solid black;
}

.Success {
    color: #5C9210;
    border: 1px solid #5C9210;
}

.Danger {
    color: #944317;
    border: 1px solid #944317;
}